.table {
    color: black;

    margin-top: 50px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border-collapse: collapse;
    margin-bottom: 50px;
}

.tableHead {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    border: 2px solid black;
    color: white;
    background-color: gray;
}

.tableLine {
    text-align: center;
    border: 1px solid black;
}