.friendList {
    display: flex;
    gap: 15px;
    margin-top: 50px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.friendListItem {
    border: 1px solid black;
    border-radius: 5px;
    width: calc((100% - 45px) / 4);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
        align-items: center;
    padding: 20px 0px;
}

.friendImg {
    width: 180px;
}

.friendName { 
    font-size: 20px;
    color: black;
}

.friendStatus {
    font-size: 18px;
    font-weight: 500;

}

.friendStatus.On {
    color: green;
}

.friendStatus.Off {
    color: red;
}